#header{

padding: 20px;
    
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../assets/images/aaaaaaaa.png);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position-x: 800px;
    width: 100%;
    height: auto;
}
#central{
    display: inline-block;
}
#fist-text{
    color: grey;
    font-size: 25px;

}
#tittle{
    font-size: 40px;
    line-height: 25px;

}
main{
    display: flex;
    flex-direction: row;
    margin-inline: 30px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}
#consulta-1{
    background-color: #448bfc;
    border-radius: 20px;
    border: none;
    color: aliceblue;
    size: 40px;
    padding: 14px 34px;
}
#main-2{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 175px;
}
#second-text{
    color: grey;
    font-size: 20px;
}

.card {
	background-color: #f2f2f200;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;
	margin-left: 50px;
	width: 300px;
    height: auto;
    margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	text-align: start;
}

.card h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 30px;
	margin-bottom: 10px;
}

.card p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 20px;
    color: grey;
}

.card img {
	width: 80px;
	height: auto;
	margin-bottom: 20px;
    
}
#cartas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#main3{

  background-image: url(../assets/images/aaaaaaaa.png);
}
#consulta-2{
    background-color: transparent;
    margin: 50px;
    margin-left: 600px;
    color: #448bfc;
    size: 50px;
    padding: 20px 60px;
    border-radius: 100px;
    margin-top: 80px;
    font-size: 19px;
    border-color: #448bfc;
    display: flex;
    justify-content: center;

}
#fundo-1{
    background-color: #448bfc;
}

#consulta-3{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#forma{
    width: 100%;
    height: 100%;
    background-color: #448bfc;
}

#magal{

    display: flex;
    flex-direction: row-reverse;
    margin-inline: 30px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    
}
#paciente-2{
    padding-right: 80px;
}

#second-text{
    margin-left: 200px;
}
#second-tittle{
    font-size: 40px;
    line-height: 25px;
    margin-left: 200px;
}

#corpo{

    background-color: aqua;
}
.corpo-3{

    background-color: aqua;
    color: red;
}

#consulta-3{
    background-color: transparent;
    margin: 50px;
    margin-left: 200px;
    color: #448bfc;
    size: 50px;
    padding: 20px 60px;
    border-radius: 100px;
    margin-top: 80px;
    font-size: 19px;
    border-color: #448bfc;
    display: flex;
    justify-content: center;
}


.rodape{
    background-color: #448bfc;
    color: #e9e9e9;
    height: auto;
    width: 100%;
    font-size: 14px;
   
}
.rodape a{
    text-decoration: none;
    color: #e9e9e9;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .popup-content {
    color: white;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
  }
